  <%= form_for :user, url: "/checkout" do |form| %>
<p>
  <%= label_tag "Name" %><br>
  <%= text_field_tag "last_name", '', class: 'form-control' %>
</p>
<div id="dropin"></div>
<p>
 <%=submit_tag "Pay $10" %>
  <%end%>
 
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <script>  
braintree.setup(
  "<%= @client_token %>",
  'dropin', {
    container: 'dropin'
});
</script>